


@mixin background-image($url,$width,$height,$contain,$repeat,$position) {
  background-image:$url;
  width:$width;
  height:$height;
  background-size:$contain;
  background-repeat:$repeat;
  background-position:$position;
 
}

@mixin vehiculo($relative,$left,$top){
	position:$relative;
	left:$left;
	top:$top;
}